{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    {% block title %}
        <title>ChatApp</title>
    {% endblock title %}

</head>
<body class="bg-slate-100">

<header class="bg-white shadow text-xl">
    <nav id="nav" class="bg-violet-300 my-auto mx-auto px-4 py-2 flex items-center justify-between">
        <a class="text-5xl font-great-vibes text-black" href="{% url 'pages:home' %}">
            ChatApp
            <i class="fas fa-feather-pointed"></i>
        </a>
        <div class="flex items-center space-x-4">
            {% if user.is_authenticated %}
                <ul class="flex items-center space-x-4">
                    <li><a href="{% url 'pages:home' %}" class="hover:text-teal-500">Home/Dashboard <i class="fas fa-house-user"></i></a></li>
                    <li><a href="{% url 'friend:friends' %}" class="hover:text-teal-500">Friends <i class="fas fa-user-group"></i></a></li>
                    <li><a href="{% url 'messaging:messenger' %}" class="hover:text-teal-500">Chat Rooms <i class="fas fa-message"></i></a></li>
                    <li class="group relative" id="dropdown-menu">
                        <a href="#" class="hover:text-teal-500">Menu <i class="fas fa-chevron-down"></i></a>
                        <div class="absolute hidden bg-white p-2 shadow mt-2 w-24">
                            <a href="{% url 'pages:my_profile' user.pk %}" class="block hover:text-teal-500">Profile</a>
                            <hr class="my-2">
                            <a href="{% url 'users:logout' %}" class="block hover:text-teal-500">Sign out</a>
                        </div>
                    </li>
                </ul>

                <form id="search-bar" class="ml-4" action="{% url 'pages:search' %}" method="get">
                    <input class="border border-gray-300 p-1" type="search" placeholder="Search for Friends" name="user_name">
                    <button class="bg-teal-500 text-white p-1" type="submit">Search</button>
                </form>
            {% else %}
                <ul class="flex items-center space-x-4">
                    <li><a href="{% url 'pages:home' %}" class="hover:text-teal-500">Home</a></li>
                    <li><a href="{% url 'users:login' %}" class="hover:text-teal-500">Sign in</a></li>
                    <li><a href="{% url 'users:signup' %}" class="hover:text-teal-500">Sign up</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>

<div>
    {% block page_header %}{% endblock page_header %}
</div>
<div class="container mx-auto mt-4">
    {% block content %}{% endblock content %}
</div>

<script>
    // JavaScript code to handle dropdown menu toggle
    document.getElementById('dropdown-menu').addEventListener('click', function() {
        var dropdown = document.querySelector('.absolute');
        dropdown.classList.toggle('hidden');
    });
</script>

</body>

<style>
    @font-face {
      font-family: "great-vibes";
      src: local('great-vibes');
      src: url('{% static "fonts/GreatVibes-Regular.ttf" %}');
    }
</style>
</html>