asgiref==3.7.2
channels==4.0.0
daphne==4.0.0
django_autoslug==1.9.9
Pillow==10.2.0
channels_redis==4.2.0
Django==5.0.2
django-autoslug==1.9.9
django-browser-reload==1.12.1
django-debug-toolbar==4.3.0
django-tailwind==3.8.0
asgiref==3.7.2
tailwind==3.1.5b0