{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <script>
        const roomInput = document.getElementById('roomInput');
        const roomConnect = document.getElementById('roomConnect');

        roomConnect.addEventListener('click', function() {
            const roomName = roomInput.value.trim();
            if (roomName) {
                window.location.href = `/messenger/${roomName}/`;
            }
        });
    </script>
</head>

<main class="mt-3 p-5">
    <div class="container mx-auto">
        <h2 class="text-2xl font-bold mb-2">Chat</h2>
        <hr class="mb-4">
        <div class="flex flex-wrap">
            <div class="w-full md:w-8/12 mb-2 ">
                <div class="mb-2">
                    <label class="block mb-2" for="roomInput">Enter a room name to connect to it:</label>
                    <input onkeydown="return /[a-z]/i.test(event.key)" type="text" class="border border-gray-300 p-2 w-96" id="roomInput" placeholder="Room-name (Alpha characters only)">
                    <small class="text-gray-500">If the room doesn't exist yet, it will be created for you.</small>
                </div>
                <button type="button" id="roomConnect" class="bg-green-500 text-white py-2 px-4 rounded">Connect</button>
            </div>
            <div class="w-full md:w-4/12 mt-4 md:mt-0">
                <label class="block mb-2" for="roomSelect">Active rooms</label>
                <select multiple class="border border-gray-300 p-2 w-full h-48" id="roomSelect">
                    {% for room in rooms %}
                        <option>{{ room }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/messenger.js' %}"></script>

{% endblock content %}
