{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <style>
         #chatLog {
      height: 500px;
   border-color:white;
    }

    #onlineUsersSelector {
      height: 300px;
    }
     img{
            width:50px;
            height:50px;
        }
        
    </style>
</head>

<main>
    
    <div class="container mt-3 p-5">
        <h2>{{ user2chat.user1.username }}</h2>
         <div class="row">
      <div class="col-12 col-md-8">
        <div class="mb-2" style="overflow-y: scroll;background-color: #ffffff;">
          <div class="form-control" id="chatLog">
            {% for message in chat_messages %} 
            {%if message.private_sender.username == request.user.username%}
            <div style="margin-top: 5px; margin-left:400px">
                  {% if message.is_media %}
                    <div style="margin-top: 5px">
                        {{ message.timestamp }}<br />
                        <a href="{{message.image.url}}">
                          <img src="{{ message.image.url }}" alt="Uploaded Image">
                        </a>
                    </div>
                        {% else %}
                      {{ message.timestamp }}<br />
              <strong>{{ message.content }}</strong><br />
              {%endif%}
            </div>
            {%else%}
        {% if message.is_media %}
            <div style="margin-top: 5px">
                {{ message.timestamp }}<br />
                <a href="{{message.image.url}}">
                          <img src="{{ message.image.url }}" alt="Uploaded Image">
                        </a>
            </div>
        {% else %}
            <div style="margin-top: 5px ">
              {{ message.timestamp }}<br />
              <strong>{{ message.content }}</strong><br />
            </div>
            {%endif%}
            {%endif%} 
            {% endfor %}
          </div>
        </div>
                <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="chatMessageInput"
            placeholder="Enter your chat message"
          />
          <input type="file" id="fileInput" accept = ".pdf,.png,.jpg,.jpeg"/>
            <div class="input-group-append">
                        <button class="btn btn-success" id="chatMessageSend" type="button">Send</button>
            </div>
        </div>
      </div>
            <div class="col-12 col-md-4">
                <label for="onlineUsers">Online users</label>
                <select multiple class="form-control" id="onlineUsersSelector">
                </select>
            </div>
        </div>
        {{ user2chat.id|json_script:"private_room_id" }}
    </div>

</main>
<script src="{% static 'js/directchat.js' %}"></script>
{% endblock content %}