{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="mt-3 p-5">
  <div class="container">
    <h2 class="text-2xl font-bold">{{ user2chat.user1.username }}</h2>
    <div class="flex flex-wrap">
      <div class="w-full md:w-8/12">
        <div class="mb-2 overflow-y-scroll bg-white p-3" style="height: 500px; border-color: white;">
          <div id="chatLog" class="form-control">
            {% for message in chat_messages %}
              {% if message.private_sender.username == request.user.username %}
                <div class="ml-[600px] mb-3">
                  {% if message.is_media %}
                    <div class="mb-3">
                      {{ message.timestamp }}<br />
                      <a href="{{message.image.url}}" target="_blank">
                        <img src="{{ message.image.url }}" alt="Uploaded Image" class="w-20 h-20">
                      </a>
                    </div>
                  {% else %}
                    {{ message.timestamp }}<br />
                    <strong>{{ message.content }}</strong><br />
                  {% endif %}
                </div>
              {% else %}
                <div class="mr-auto mb-3">
                  {% if message.is_media %}
                    <div class="mb-3">
                      {{ message.timestamp }}<br />
                      <a href="{{message.image.url}}" target="_blank">
                        <img src="{{ message.image.url }}" alt="Uploaded Image" class="w-20 h-20">
                      </a>
                    </div>
                  {% else %}
                    {{ message.timestamp }}<br />
                    <strong>{{ message.content }}</strong><br />
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="flex items-center mt-2">
                    <input type="text" class="flex-grow border border-gray-300 p-2" id="chatMessageInput" placeholder="Enter your chat message">
                    <input type="file" id="fileInput" accept=".pdf, .png, .jpg, .jpeg" class="hidden">
                    <label for="fileInput">
                    <img src="{%static 'images/send_file.png'%}" alt="upload icon" width="60" height="60" />
                    <input type="file" id="fileInput" accept = ".pdf,.png,.jpg,.jpeg" name="doc" hidden/>
                    </label>
                    <div class="input-group-append">
                         <button type="button" id="chatMessageSend" class="bg-green-500 text-white py-2 px-4 rounded">Send</button>
                    </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 mt-4 md:mt-0">
        <label for="onlineUsers" class="block mb-2">Online users</label>
        <select multiple class="border border-gray-300 p-2 w-full" id="onlineUsersSelector"></select>
      </div>
    </div>
    {{ user2chat.id|json_script:"private_room_id" }}
  </div>
</main>

<script src="{% static 'js/directchat.js' %}"></script>

{% endblock content %}
