{% extends "base.html" %}

{% block content %}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">

  <div class="bg-white text-black  mb-3 mx-auto max-w-md">
    <div class="text-center p-4 border-b border-solid border-gray-200">Friends List</div>
    <div class="p-4">
      {% for friend in friends %}
        <h5 class="text-center">{{ friend.username }}</h5>
        <a href="{% url 'friend:profile_view' friend.pk %}">
          <button type="button" class="bg-violet-300 rounded-xl hover:bg-violet-400 my-4 w-full ">
            View Profile
          </button>
        </a>
        <a href="{% url 'friend:delete-friend' friend.pk %}">
          <button type="button" class="bg-violet-300 rounded-xl hover:bg-violet-400 my-4 w-full ">
            Remove from Friends
          </button>
        </a>
        <hr>
      {% endfor %}
    </div>
  </div>

  <div class="bg-white text-black border-warning mb-3 mx-auto max-w-md">
    <div class="text-center p-4 border-b border-solid border-gray-200">Friend Requests</div>
    <div class="p-4">
      {% for request in rec_friend_requests %}
        <h5 class="text-center">From: {{ request.sender }}</h5>
        <a href="{% url 'friend:accept-friend-request' request.pk %}">
          <button type="button" class="bg-violet-300 rounded-xl hover:bg-violet-400 my-4 w-full ">
            Accept Friend Request
          </button>
        </a>
        <a href="{% url 'friend:decline-friend-request' request.pk %}">
          <button type="button" class="bg-violet-300 rounded-xl hover:bg-violet-400 my-4 w-full ">
            Decline Friend Request
          </button>
        </a>
        <hr>
      {% endfor %}
    </div>
    <div class="text-center p-4 border-b border-solid border-gray-200">Requests Sent</div>
    <div class="p-4">
      {% for sent in sent_friend_requests %}
        <h5 class="text-center">Send to: {{ sent.receiver }}</h5>
        <a href="{% url 'friend:cancel-friend-request' sent.receiver.pk %}">
          <button type="button" class="bg-violet-300 rounded-xl hover:bg-violet-400 my-4 w-full ">
            Cancel Friend Request
          </button>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="bg-white text-black border-info mb-3 mx-auto max-w-md">
    <div class="text-center p-4 border-b border-solid border-gray-200">Direct Messages</div>
    <div class="p-4">
      <div class="text-center p-4 border-b border-solid border-gray-200">-Initiated-</div>
      {% for ini in initiated_direct_chats %}
        <h5 class="text-center">Chatting with: {{ ini.user2 }}</h5>
        <a href="{% url 'messaging:direct-chat' ini.user2.pk %}">
          <button type="button" class="bg-violet-300 rounded-xl hover:bg-violet-400 my-4 w-full ">
            Message {{ ini.user2 }}
          </button>
        </a>
        <hr>
      {% endfor %}
      <div class="text-center p-4 border-b border-solid border-gray-200">-Received-</div>
      {% for rec in received_direct_chats %}
        <h5 class="text-center">Chatting with: {{ rec.user1 }}</h5>
        <a href="{% url 'messaging:direct-chat' rec.user1.pk %}">
          <button type="button" class="bg-violet-300 rounded-xl hover:bg-violet-400 my-4 w-full ">
            Message {{ rec.user1 }}
          </button>
        </a>
      {% endfor %}
    </div>
  </div>



</div>

{% endblock content %}
