{% extends "base.html" %}

{% block content %}

<div class="mx-auto max-w-xl">
  <div class="bg-white border border-gray-200 rounded-2xl mt-20">
    <div class="mt-12">
    <img id="profile-pic" class="rounded-full mx-auto h-48 w-48" src="{{ user.profile.image.url }}" alt="Profile Image">
    <div id="profile-text" class="p-4 text-center space-y-3">
      <h1 class="text-xl font-bold">Username:</h1>
      <h5 class="text-xl">{{ user.username }}</h5>
      <h1 class="text-xl font-bold">E-mail:</h1>
      <p class="text-xl mb-2">{{ user.email }}</p>
      <h1 class="text-xl font-bold">Bio:</h1>
      <p class="text-xl">{{ user.profile.bio }}</p>
    </div>
    </div>

    {% if user not in current_user.friends.all and user != current_user %}
    <div class="mb-2">
      <a href="{% url 'friend:send-friend-request' user.pk %}">
        <button type="button" class="bg-violet-300 text-black py-2 px-4 rounded-full w-fit ml-52 mb-16">
          Send Friend Request
        </button>
      </a>
    </div>
    {% endif %}

    {% if sent_friend_request %}
    <div class="mb-2">
      <a href="{% url 'friend:cancel-friend-request' user.pk %}">
        <button type="button" class="bg-violet-300 text-black py-2 px-4 rounded-full w-fit ml-52 mb-16">
          Cancel Friend Request
        </button>
      </a>
    </div>
    {% endif %}

    {% if user in current_user.friends.all and user != current_user %}
    <div class="mb-2">
      <a href="{% url 'messaging:direct-chat' user.pk %}">
        <button type="button" class="bg-violet-300 text-black py-2 px-4 rounded-full w-fit ml-56 mb-16">
          Message user!
        </button>
      </a>
    </div>

    {% endif %}
  </div>

  {{ user.pk|json_script:"videochat.pk" }}

</div>

{% endblock content %}
