{% extends "base.html" %}

{% block content %}
<div class="mx-auto w-auto mt-20">
    <div class="rounded-xl bg-gray-200 text-white login mx-auto mt-4">
        <div class="text-black">
            <h2 class="text-4xl font-bold text-center">SignIn</h5>
            <hr class="border-gray-400 mx-auto my-4 w-96 ">
            <div class="flex justify-center items-center w-full">
            <form method="post">
                {% csrf_token %}
                <div class="mb-8">
                    <label class="mb-2 ml-10">UserName: </label>
                    {{form.username}}
                </div>

                <div class="mb-8">
                    <label class="mb-2 ml-10">Password: </label>
                    {{form.password}}
                </div>

                <button class="py-4 px-8 mx-32 text-lg bg-violet-400 hover:bg-violet-500 rounded-xl text-white" type="submit">SignIn</button>
            </form>
            </div>
            <hr class="border-gray-400 mx-auto my-4 w-96 ">
            <div class="flex justify-center items-center">
            <p class="text-xl">
                Don't have an account? <a href="{% url 'users:login' %}" class="font-semibold font-mono">SignUp here</a>
            </p>
            
        </div>
        </div>
    </div>
</div>
{% endblock content %}
